.about-container {
	margin: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(163, 133, 99, 0.8);
	border-radius: 1.5rem;
	max-width: 96%;
	border: 1px solid rgba(143, 113, 79, 0.8);
	box-shadow: 2px 2px rgba(123, 93, 59, 0.8), 4px 4px rgba(103, 73, 39, 0.8);
}
.about-context {
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: start;
}
.skill-item {
	opacity: 0.1;
	transition: opacity 1s ease;
	transform: translateY(30px) rotate(-10deg) scale(0.8);
}
.skill-item.visible {
	animation: bubbleIn 0.5s ease forwards;
}
.skill-item:hover {
	cursor: pointer;
	background-color: #c76e62 !important;
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.intro-text {
	animation: fadeIn ease 3s;
}
.icon-button:hover {
	transform: scale(1.2);
}
.icon-button:focus {
	transform: scale(1.2);
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes bubbleIn {
	0% {
		opacity: 0;
		transform: translateY(30px) rotate(-10deg) scale(0);
	}
	50% {
		opacity: 0.5;
		transform: translateY(15px) rotate(-5deg) scale(1.1);
	}
	100% {
		opacity: 1;
		transform: translateY(0px) rotate(0deg) scale(1);
	}
}
