html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	margin: 0;
	padding: 0;
	text-align: center;

	overflow-x: hidden;
}

.bird-container {
	position: absolute;
	top: 15%;
	left: 3%;
	will-change: transform;
	animation-name: fly-right;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-delay: 0;
}

.bird-container-second {
	position: absolute;
	top: 18%;
	left: 1%;
	will-change: transform;
	animation-name: fly-right-second;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 9s;
	animation-delay: 0;
}

.bird {
	background-image: url(assets/bird.svg);
	background-size: auto 100%;
	width: 32px;
	height: 32px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-delay: -0.5s;
	cursor: url('assets/bow.cur'), auto;
}

.bird-second {
	background-image: url(assets/bird.svg);
	background-size: auto 100%;
	width: 32px;
	height: 32px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	animation-duration: 1.2s;
	animation-delay: -0.3s;
	cursor: url('assets/bow.cur'), auto;
}
.bird-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.bird-hit {
	border: 50px solid red;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
@keyframes fly-right {
	0% {
		transform: translateY(12vh) translateX(1vw) scale(0.6);
	}
	10% {
		transform: translateY(8vh) translateX(8vw) scale(0.65);
	}
	20% {
		transform: translateY(6vh) translateX(15vw) scale(0.7);
	}
	30% {
		transform: translateY(8vh) translateX(30vw) scale(0.65);
	}
	40% {
		transform: translateY(4vh) translateX(40vw) scale(0.8);
	}
	50% {
		transform: translateY(0vh) translateX(50vw) scale(0.9);
	}
	60% {
		transform: translateY(-3vh) translateX(65vw) scale(0.85);
	}
	70% {
		transform: translateY(-1vh) translateX(75vw) scale(0.8);
	}
	80% {
		transform: translateY(-2vh) translateX(82vw) scale(0.85);
	}
	90% {
		transform: translateY(-1vh) translateX(90vw) scale(0.8);
	}
	100% {
		transform: translateY(0vh) translateX(100vw) scale(0.95);
	}
}

@keyframes fly-right-second {
	0% {
		transform: translateY(9vh) translateX(1vw) scale(0.7);
	}
	10% {
		transform: translateY(3vh) translateX(15vw) scale(0.65);
	}
	20% {
		transform: translateY(1vh) translateX(25vw) scale(0.7);
	}
	30% {
		transform: translateY(4vh) translateX(38vw) scale(0.65);
	}
	40% {
		transform: translateY(2vh) translateX(43vw) scale(0.7);
	}
	50% {
		transform: translateY(-1vh) translateX(60vw) scale(0.8);
	}
	60% {
		transform: translateY(-3vh) translateX(75vw) scale(0.75);
	}
	70% {
		transform: translateY(-5vh) translateX(86vw) scale(0.9);
	}
	80% {
		transform: translateY(-1vh) translateX(95vw) scale(0.75);
	}
	90% {
		transform: translateY(-2vh) translateX(100vw) scale(0.85);
	}
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.95);
	}
}

@keyframes fly-cycle {
	100% {
		background-position: -320px 0;
	}
}
